<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="header__nav col-8">
                <a href="#" class="header__link">
                    Store
                </a>
                <a href="#" class="header__link">
                    Followers
                </a>
                <a href="#" class="header__link">
                    Following
                </a>
                <a href="#" class="header__link active">
                    Seller Feedback
                </a>
            </nav>
            <div class="burger">
                <div class="burger__item"></div>
                <div class="burger__item"></div>
                <div class="burger__item"></div>
            </div>
        </div>
    </div>
</header>