<div class="users">
    <figure class="users__photo-box">
        <figure class="users__photo"></figure>
    </figure>
    <div class="users__inner">
        <div class="users__box">
            <span class="users__name">
                Arn*****old
            </span>
            <div class="users__like-box">
                <i class="users__likes"></i>
                <i class="users__likes"></i>
                <i class="users__likes"></i>
                <i class="users__likes"></i>
                <i class="users__likes"></i>
            </div>
        </div>
        <div class="users__container">
            <p class="users__content">
                fskjfgklgjk dfjg kmjskfjsghfsg v kjskgjsdkghdk snvkx  ljskjgfksvk xvfskjfgklgjk dfjg kmjskfjsghfsg v kjskgjsdkghdk snvkx  ljskjgfksvk xvfskjfgklgjk dfjg kmjskfjsghfsg v kjskgjsdkghdk snvkx  ljskjgfksvk xvfskjfgklgjk dfjg kmjskfjsghfsg v kjskgjsdkghdk snvkx  ljskjgfksvk xvfskjfgklgjk dfjg kmjskfjsghfsg v kjskgjsdkghdk snvkx  ljskjgfksvk xv
            </p>
        </div>
        <div class="users__footer">
            <span class="users__like">
                Likе
            </span>
            <span class="users__reply ">
                Reply
            </span>
            <span class="users__time">
                2 days ago
            </span>
        </div>

    </div>
</div>