<section class="your_message">
    <div class="container">
        <h3 class="your_message__headline headline">
            Your feedback
        </h3>
        <div class="your_message__inner">
            <div class="your_message__photo-box">
                <figure class="your_message__photo"></figure>
            </div>
            <div class="your_message__container">
                <div class="your_message__box">
                    <span class="your_message__name">
                        Nad*****hda
                    </span>
                    <div class="your_message__like-box">
                        <i class="your_message__like active"></i>
                        <i class="your_message__like active"></i>
                        <i class="your_message__like active"></i>
                        <i class="your_message__like "></i>
                        <i class="your_message__like "></i>
                    </div>
                </div>
                <textarea name="user_massage" class="your_message__textarea" placeholder="Your comment"></textarea>

            </div>
        </div>
    </div>
</section>